* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  background: none;
  color: inherit;
}

.home {
  position: relative;
}

.body {
  position: absolute;
  top: 110px;
  width: 100%;
}

.header {
  width: 100%;
  padding: 17px;
  font-size: 35px;
  position: fixed;
  z-index: 10;
}

.header-left {
  display: inline-block;
  padding-left: 30px;;
  font-weight: bold;
}

.header-left > div:nth-child(2) {
  margin-top: -18px;
}

.header-right {
  float: right;
  font-size: 16px;
  margin-top: 30px;
}

.header-right > span {
  margin-right: 32px;
  cursor: pointer;
}

.header-right > span:hover {
  font-size: 22px;
}

.about {
  width: 100%;
  height: 900px;
  position: relative;
  background-color: #cccccc;
}

.about-left-design {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #e6e6e6;
}

.about-left-design:after {
  border-right: 100px solid #333333;
  border-top: 200px solid  #ececec;
}

.profile-photo {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 0 0px 21px 0 rgb(0 0 0 / 60%);
}

.about-block {
  width: 45%;
  box-shadow: 0 0px 21px 0 rgb(0 0 0 / 60%);
  height:  650px;
  background-color: #cccccc;
  border-radius: 10px;
  position: absolute;
  left: 20%;
  top: 115px;
  z-index: 5;
}

.about-block-footer {
  position: relative;
  width: 100%;
  padding: 15px;
  clear: both;
  height: 50px;
}

.about-block-left {
  width: 40%;
  height: 90%;
  border-radius: 10px;
  display: inline-block;
  background-color: darkslategrey;
  text-align: center;
  padding: 15px;
}

.about-block-right {
  width: 60%;
  height: 90%;
  border-radius: 10px;
  float: right;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.about-block-left-text {
  color: white;
  margin-top: 20px;
  font-weight: bold;
  font-size: 35px;
  position: relative;
  top: 50px;
}

.about-block-left-text > div:nth-child(2) {
  margin-top: -18px;
}

.about-block-left-role {
  font-weight: lighter;
  margin-top: 0;
  top: 220px;
}

.about-description {
  margin-top: 30px;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  color: #444444;
  white-space: pre-line;
}

.solid-circle-small {
  height: 25px;
  width: 25px;
  vertical-align: top;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  background-color: yellow;
}

.solid-circle-medium {
  height: 30px;
  width: 30px;
  vertical-align: top;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  background-color: yellow;
}

.linked-in-github-icon {
  position: relative;
  top: 140px;
}

.linked-in-github-icon > a:first-child {
  margin-right: 10px;
}

.linked-in-github-icon > a:nth-child(2) {
  margin-left: 10px;
}

.slanted {
  position: relative;
  height: 200px;
  background: #333333;
  float: left;
  left: 40%;
}
.slanted.slanted-left {
  width: 300px;
}

.slanted:after,
.slanted:before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

.slanted-right.slant-to-left:after {
  left: -100px;
  border-right: 250px solid #cccccc;
  border-top: 900px solid  #e6e6e6;
}

.page {
  padding: 150px 5%;
  background-color: #39bf4a;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: white;
  position: relative;
}

.skills {
  background-color: #39bf4a;
}

.page-header {
  font-size: 6.0rem;
}

.page-content {
  margin: auto;
  margin-top: 150px;
  width: 80%;
  text-align: center;
}

.skills-content {
  width: 60%;
  text-align: left;
}

.skills-name-list {
  width: 100%;
  display: inline-block;
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: "Comic Sans MS", Calibri, sans-serif;
}

.skill-bar {
  width: 100%;
  display: inline-block;
}

.skill-bar>div:first-child {
  height: 10px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.skill-percentage {
  display: inline-block;
  font-size: 18px;
  vertical-align: super;
  margin-left: 20px;
  padding: 10px;
  background-color: white;
  color: #39bf4a;
  border-radius: 50%;
}

.projects {
  background-color: #888888;
}

.projects-content {
  width: 100%;
  position: relative;
}

.projects-content > div {
  position: relative;
}

.projects-content span {
  margin: auto;
}

.project-vl-even-dummy {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: -4px;
  margin-bottom: -4px;
}

.project-vl-odd-dummy {
  margin: 0;
  padding: 0;
  margin-bottom: -4px;
  margin-top: -4px;
}

.project-vl {
  position: absolute;
  left: 50%;
}

.project-box {
  padding: 30px 20px;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  position: relative;
  width: 400px;
  display: inline-block;
}

.project-box > div:first-child {
  font-size: 35px;
  font-weight: bold;
}

.project-box > div {
  margin-bottom: 30px;
}

.projects-center-line {
  position: absolute;
  top: 400px;
  left: 50%;
}

.invisible {
  visibility: hidden;
}

.project-bubble {
  background-color: white;
  position: absolute;
  top: calc(50% + 3px);
  margin: 0 !important;
}

.left-project-bubble {
  left: -16px;
}

.right-project-bubble {
  right: -16px;
}

.left-project-line {
  left: 400px;
  position: absolute;
  width: calc(50% - 390px);
  top: 50%;
  margin: 0 !important;
}

.left-project-line > span {
  position: initial !important;
  margin: 0 !important;
  display: block !important;
}

.right-project-line { 
  right: 400px;
  position: absolute;
  width: calc(50% - 410px);
  top: 50%;
  margin: 0 !important;
}

.right-project-line > span {
  position: initial !important;
  margin: 0 !important;
  display: block !important;
}

.experience {
  background-color: lightcoral;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.single-experience {
  background-color: #333333;
  color: white;
  padding: 40px;
  width: 50%;
  clear: both;
  position: relative;
}

.single-experience > div {
  margin-bottom: 40px;
}

.single-experience-header {
  font-size: 35px;
}

.experience-detail {
  text-align: left;
}

.experience-detail > div > span {
  vertical-align: super;
}

.experience-detail-line {
  margin-bottom: 10px;
}

.dummy-experience-div {
  margin-bottom: 150px;
}

.experience-number {
  font-size: 65px;
  padding: 40px;
  background-color: #333333;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  margin: 0 !important;
}

.left-experience-number {
  left: 120%;
}

.right-experience-number {
  right: 120%;
}